name: fin_smart
description: "A new Flutter project." 
publish_to: 'none' 

 
version: 1.0.0+1

environment:
  sdk: ^3.10.4

 
dependencies:
  flutter:
    sdk: flutter

 
  cupertino_icons: ^1.0.8
  equatable: ^2.0.8
  dartz: ^0.10.1
  flutter_bloc: ^9.1.1
  get_it: ^9.2.0  
  dio: ^5.9.0
  flutter_localizations:
    sdk: flutter  
  intl: ^0.20.2   

  # security
  local_auth: ^3.0.0
  jailbreak_root_detection: ^1.2.0+1
  flutter_screenshot_blocker: ^1.0.2
  flutter_secure_storage: ^10.0.0
  vpn_detector: ^1.2.0
  encrypt: ^5.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
 
  flutter_lints: ^6.0.0
  build_runner: ^2.3.3 
  logger: ^1.1.0

 
flutter:
 
  uses-material-design: true
  generate: true

 
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

 
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
 
